# Android-bygge
android/build/
android/app/build/
android/.gradle/
android/local.properties
.gradle/

# Python
__pycache__/

# Android-bygge, Sändo Elev
android-elev/build/
android-elev/app/build/
android-elev/.gradle/
android-elev/local.properties
